<style>
  .contactInfo{
    padding-top:120px;
    font-size:200%;
  }

  .memberinfo{
    background-color: #ADD8E6;
    border-radius:10px;
    overflow:hidden;
  }

  .img-responsive{
    width:100%;
  }
</style>

<section id="contact" class="container">
  <paper-tabs selected="1" role="tablist" horizontal center layout>
    <paper-tab class="btn btn-default" role="tab" ng-show="previous" ng-click="setIndex(index-1)" inline flex center-center horizontal layout class>
      {{previous}}
    </paper-tab>
    <paper-tab class="btn btn-success" role="tab" inline flex center-center horizontal layout class>
      {{current}}
    </paper-tab>
    <paper-tab class="btn btn-default" role="tab" ng-click="setIndex(index+1)"inline flex center-center horizontal layout class>
      {{next}}
    </paper-tab>
  </paper-tabs>
  <div class="row">
    <div class="memberPic col-md-5 pull-left">
      <h2>{{members[index].name}}</h2>
      <img class="img-responsive img-rounded" ng-src="{{members[index].photo}}">
    </div>

    <div class="contactInfo col-md-5">

      <div class="memberDescription">
        {{members[index].description}}
      </div>

      <div class="row memberinfo">
          <div class="col-md-6">
          <p class="lead">position</p>
          <p>{{members[index].position}}
          </div>

          <div class="col-md-6">
          <p class="lead">email</p>
          <p>{{members[index].email}}
          </div>

    </div>

  </div>

</section>
