<style>
.bulletinCaption{
  background-color:orange;
}
h3{
  color:white;
}
.lead{
  color:black;
}
.col-md-4{
  display:table-cell;
}
.img-responsive{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:auto;
  max-width:50%;
}

.carousel-inner{
  max-height:400px;
}

</style>

<section id="landing" class = "container">
  <div class="row">
    <div class="col-sm-7 jumbotron col-sm-offset-1 pull-left bulletin">
      <a href="#/post/{{mainPost.id}}">
        <img class="img-responsive" src="/img/logo.jpg">
        <div class="bulletinCaption">
          <h3 >{{mainPost.title}}</title>
            <p class="lead">{{mainPost.lead}}</p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 item">
        <a href="#/post/{{sidePost[0]}}">
          <img class="img-responsive" src="/img/logo.jpg">
          <div class="bulletinCaption">
            <h3 >{{sidePost[0].title}}</title>
              <p class="lead">{{sidePost[0].lead}}</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4 item">
          <a href="#/post/{{sidePost[1]}}">
            <img class="img-responsive" src="/img/logo.jpg">
            <div class="bulletinCaption">
              <h3 >{{sidePost[1].title}}</title>
                <p class="lead">{{sidePost[1].lead}}</p>
              </div>
            </a>
          </div>
        </div>

        <div id="carouselHighlights" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carouselHighlights" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHighlights" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->

          <div class="carousel-inner">
            <div class="img-responsive" class="item active">
              <img src="/img/banner.jpg" alt="...">
              <div class="carousel-caption">
                <h3>JPN</h3>
              </div>
            </div>
            <div class="item">
              <img class="img-responsive" src="/img/sushi.jpg" alt="...">
              <div class="carousel-caption">
                <h3>Sushi</h3>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carouselHighlights" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carouselHighlights" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div> <!-- Carousel -->
        <hr></hr>
        <iframe align="middle" src="https://www.google.com/calendar/embed?src=g6celks31795r76pvlo3gmojog%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

      </section>
      <script src="bootstrap/js/carousel.js"/>
