<style>

.bulletin{
  margin-left:10px;
  margin-top:5px;
  border-radius:15px;
  overflow:hidden;
  background-color:yellow;
  padding-left:0px;
  padding-right:0px;
  padding:0px;
}

.bulletin:hover{
  transform:scale(1.1,1.1);
  margin:30px;
}

.bulletinCaption{
  text-align: center;
  margin-bottom:0px;
  background-color:orange;
  padding:5px;
}
h3{
  color:white;
}
.lead{
  color:black;
}
.col-md-4{
  display:table-cell;
}
.img-responsive{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:auto;
  max-width:50%;
}

.carousel-inner{
  max-height:400px;
}

#suggestEventFormContainer{
  padding-left:10px;
  width:80%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  margin-bottom:50px;
  text-align:center;
}
</style>

<section id="landing" class = "container">
  <div class="row">
    <div class="col-sm-6  pull-left bulletin">
      <a href="#/post/{{mainPost.id}}">
        <img class="img-responsive" ng-src="/img/logo.jpg"></img>
        <div class="bulletinCaption">
          <h3 >{{mainPost.title}}</h3>
          <p class="lead">{{mainPost.lead}}</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4 bulletin">
      <a href="#/post/{{sidePost[0].id}}">
        <img class="img-responsive" ng-src="{{sidePost[0].img}}"></img>
        <div class="bulletinCaption">
          <h3 >{{sidePost[0].title}}</h3>
          <p class="lead">{{sidePost[0].lead}}</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4 bulletin">
      <a href="#/post/{{sidePost[1].id}}">
        <img class="img-responsive" src="{{sidePost[1].img}}"></img>
        <div class="bulletinCaption">
          <h3 >{{sidePost[1].title}}</h3>
          <p class="lead">{{sidePost[1].lead}}</p>
        </div>
      </a>
    </div>
  </div>
  <hr></hr>
  <div class="row">
  <div class="col-sm-4 bulletin" ng-repeat='post in posts'>
    <a href="#/post/{{post.id}}">
      <img class="img-responsive" ng-src="{{post.img}}"></img>
      <div class="bulletinCaption">
        <h3 >{{post.title}}</h3>
        <p class="lead">{{post.lead}}</p>
      </div>
    </a>
  </div>
</div>

<div class="row" id="suggestEventFormContainer">
  <form>
    <h1>Suggest an Event!</h1>
    <paper-input-decorator   label="Name" floatinglabel error="Name Required" layout vertical>
      <input  ng-model="suggestEvent.name" id="input1" is="core-input">
    </paper-input-decorator>
    <paper-input-decorator   label="Email" floatinglabel error="Name Required" layout vertical>
      <input ng-model="suggestEvent.email" id="input1" is="core-input">
    </paper-input-decorator>
    <paper-input-decorator label="Description" floatinglabel error="Name Required" layout vertical>
      <textarea  ng-model="suggestEvent.description"></textarea>
    </paper-input-decorator>
    <paper-button raised role="button" id="submitSuggestion" class="btn btn-success btn-lg" ng-click='suggest(suggestEvent)'>
      Submit
    </paper-button>
    <span ng-show="eventConfirmed">
      {{eventConfirmed}}
    </span>

  </form>
</div>

</section>
<script src="bootstrap/js/carousel.js"/>
