
<script src="/javascripts/paint/paint.js"></script>
<link rel="stylesheet" href="/javascripts/paint/paint.css">
<script>createPaint(document.getElementById('paint'));</script>

<div id="paint">

</div>
<p class="lead"> Gallery Submissions are processed weekly</p>
<div id="saveMessage">
  <hr>
  Link:
  <a ng-href="/img/{{imgName}}.png">photo</a>

</div>
