<style>
  img{
    width:200px;
    height:auto;
  }
</style>
<section id="post_view" class="container">
  <div class="row row-centered">
    <div class="col-xs-10 col-centered">
      <img class="img-responsive" ng-src="{{mainPost.img}}">
      <div class="bulletinCaption">
        <h3 >{{mainPost.title}}</title>
          <p class="lead">{{mainPost.lead}}</p>
        </div>
      <div ng-bind-html="mainPost.body">
        {{mainPost.body}}
      </div>
    </div>
  </div>
</section>
