<style>
  img{
    max-width:400px;
  }
</style>
<section id="post_view" class="container">
  <div class="row row-centered">
    <div class="col-xs-10 col-centered">
      <img class="img-responsive" src="/img/logo.jpg">
      <div class="bulletinCaption">
        <h3 >{{mainPost.title}}</title>
          <p class="lead">{{mainPost.lead}}</p>
        </div>
      <p>
        {{mainPost.body}}
      </p>
    </div>
  </div>
</section>
