<!doctype html>
<html>

<head>

  <title>JPN</title>
  <meta name="viewport" content = "width=device-width", minimum-scale=1.0, initial-scale=1.0, user-scalable="yes">

  <script src="/webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="/javascripts/core-header-panel/core-header-panel.html">
  <link rel="import" href="/javascripts/core-toolbar/core-toolbar.html">
  <link rel="import" href="/javascripts/paper-tabs/paper-tabs.html">
  <link rel="import" href="/javascripts/custom/post-card.html">
  <link rel="import" href="/javascripts/custom/picture-tabs.html">
  <link rel="import" href="/javascripts/custom/picture-tab.html">


  <style>
  html,body{
    height:100%;
    margin:0;
    background-color:#E5E5E5;
    font-family: "RobotoDraft", sans-serif;
  }
  core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  core-toolbar {
    background: #03a9f4;
    height:100px;
    color: white;
  }
  #tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
  }
  </style>


</head>

<body unresolved>
  
</body>

</html>
